@use '@/styles/colors.module';
@use '@/styles/helpers.module';

%vertical-gap {
  padding: 5rem 0;

  @include helpers.md-screen {
    padding: 3rem 0;
  }

  @include helpers.sm-screen {
    padding: 2rem 0;
  }
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.general {
  display: flex;
  flex-direction: column;
  align-self: start;
  position: sticky;
  height: 100vh;
  top: 0;

  @extend %vertical-gap;

  .name {
    letter-spacing: 1.5px;
    color: colors.$primary-50;
    margin-bottom: 0.5rem;
  }

  .position {
    font-weight: 500;
    color: colors.$primary-100;
    margin-bottom: 1.5rem;
  }

  .short-description {
    max-width: 70%;
  }

  .links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.easter-egg {
  z-index: 1;
  position: fixed;
  display: flex;
  left: -4rem;
  bottom: 0;
  max-width: 100vw;
  transform: translate(-100%, 50%);
  transition: transform 0.5s ease-in-out;
  font-size: 1.5rem;

  img {
    width: 32rem;
    transform: rotate(7deg);
  }

  p {
    display: inline-block;
    font-family: 'Rock Salt', serif;
    color: colors.$primary-50;
    white-space: preserve nowrap;
    margin-left: -8rem;
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0, 0.65, 0.65, 1);
  }

  &.visible {
    z-index: 1;
    transform: translate(0, 0);

    p {
      opacity: 1;
    }
  }
}

.details {
  @extend %vertical-gap;

  section {
    margin-bottom: 4rem;

    h2 {
      color: colors.$primary-50;
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about {
    p {
      margin-bottom: 1rem;
    }

    span {
      cursor: pointer;
      color: colors.$primary-50;
      font-weight: 600;
      transition: all 0.2s;

      &:hover {
        color: colors.$accent-700;
      }
    }
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    & > * {
      margin: 0 0.45rem 0.5rem 0;
    }
  }
}

@include helpers.lg-screen {
  .container {
    padding: 0 3rem;
  }
}

@include helpers.md-screen {
  .container {
    padding: 0 2rem;
    grid-template-columns: 1fr;
  }

  .general {
    position: static;
    height: auto;
    padding-bottom: 0;

    .name {
      font-size: 2rem;
    }

    .short-description {
      max-width: none;
    }

    .links {
      padding: 1rem 0;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;
    }
  }

  .details {
    padding-top: 0;
  }
}

@include helpers.sm-screen {
  .general {
    .links {
      padding: 1rem;
      justify-content: space-between;
      gap: 0;
    }
  }

  .easter-egg {
    left: -2rem;
    font-size: 1rem;

    img {
      width: 20rem;
    }

    p {
      margin-left: -6rem;
    }
  }
}

@include helpers.xs-screen {
  .easter-egg {
    bottom: -0.5rem;
    font-size: 0.75rem;

    img {
      width: 16rem;
    }

    p {
      margin-left: -4rem;
    }
  }
}
