@use '@/styles/colors.module';

$vertical-gap: 5rem;

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.general {
  display: flex;
  flex-direction: column;
  align-self: start;
  position: sticky;
  padding: $vertical-gap 0;
  height: 100vh;
  top: 0;

  .name {
    letter-spacing: 1.5px;
    color: colors.$primary-50;
    margin-bottom: 0.5rem;
  }

  .position {
    font-weight: 500;
    color: colors.$primary-100;
    margin-bottom: 1.5rem;
  }

  .short-description {
    max-width: 70%;
  }

  .links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.easter-egg {
  position: fixed;
  display: flex;
  left: -4rem;
  bottom: 0;
  transform: translate(-100%, 50%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;

  img {
    width: 32rem;
    transform: rotate(7deg);
  }

  p {
    display: inline-block;
    position: absolute;
    font-family: 'Rock Salt', serif;
    font-size: 1.5rem;
    color: colors.$primary-50;
    white-space: preserve nowrap;
    left: 24rem;
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0, 0.65, 0.65, 1);
  }

  &.visible {
    z-index: 1;
    transform: translate(0, 0);

    p {
      opacity: 1;
    }
  }
}

.details {
  padding: $vertical-gap 0;

  section {
    margin-bottom: 4rem;

    h2 {
      color: colors.$primary-50;
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about {
    p {
      margin-bottom: 1rem;
    }

    span {
      cursor: pointer;
      color: colors.$primary-50;
      font-weight: 600;
      transition: all 0.2s;

      &:hover {
        color: colors.$accent-700;
      }
    }
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    & > * {
      margin: 0 0.45rem 0.5rem 0;
    }
  }
}
