body {
    background: url("../images/bg.png");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

main {
    background: none;
}

main article {
    margin: 7em auto;
}

main:nth-last-child(3) {
    margin-bottom: 0;
}

.stackable.grid {
    padding: 1em;
}

.divider, .divider.fat {
    border-top: 0.357em solid #d4f94c;
}

.page {
    background-color: #434343; 
    color: #d4f94c;
}

.page:hover {
    box-shadow: 0 0 150px 0 rgba(34, 186, 38, 0.7);
}

.contacts li a {
    color: #d4f94c;
}

a {
    color: #964a2f;
}

.contacts a {
    cursor: pointer;
}

.timeline a {
    text-decoration: underline;
    font-weight: 900;
}

.timeline strong {
    font-weight: 900;
}

a.discord:hover {
    color: #5a72b0;
}

a.instagram:hover {
    color: #e9035f;
}

a.twitter:hover, a.blizzard:hover {
    color: #1da1f2;
}

.page:before {
    content: " ";
    display: block;
    position: absolute;
    left: 2em;
    top: 2em;
    right: 2em;
    bottom: 2em;
    border-color: inherit;
    border-width: 1em;
    border-style: solid;
    pointer-events: none;
    transition: border-color 0.2s ease-in-out;
    border-color: #863a0f;
}

@media screen and (max-width: 780px) {
    .page:before {
        display: none;
    }
}