@use '@/styles/colors.module';

$pin-size: 1.25rem;

.container {
  margin-left: 0.75rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$accent-900;

  .pin {
    width: $pin-size;
    height: $pin-size;
    margin-right: 0.5rem;
    border-radius: 100%;
    border: 3px solid colors.$accent-900;
  }
}

.content {
  padding: 0.25rem 0.75rem;
  margin: 1rem 0;
  margin-left: calc($pin-size / 2 - 1px);
  border-left: 1px solid colors.$primary-300;

  h3 {
    color: colors.$primary-100;
    margin-bottom: 0.25rem;
  }

  p {
    margin-top: 0.35rem;
  }
}
